name: Run API unit tests

on:
  push:
    branches:
      - master
      - test
  pull_request:
    branches:
      - master
      - test

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Generate SQLC models
        run: |
          docker run --rm -v ./api:/src -w /src sqlc/sqlc generate
      -
        name: Go test
        run: |
          docker run --rm -v ./api:/app golang:1.24.6-alpine3.22 sh -c 'cd /app && go test -v ./...'
